h3 Manajemen DTU

// START panel
.whirl.double-up
.row
 .col-md-12 <br> <br>
 .col-md-12
   center Loading...
.row
  center 
   a.btn.btn-info(href="https://deposit.garuda-indonesia.com/GarudaAgentCustomer/login") Redirect

//meta(http-equiv='refresh', content='8; URL=')
